
    <h1>Registro</h1>
    
        <form [formGroup]='itemForm' (ngSubmit)=submit()>

            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Nombre de Usuario" type="text" formControlName="username" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="text" formControlName="email" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" type="password" formControlName="password">
            </mat-form-field>

            <button mat-raised-button color="accent">Registrarse</button>
        </form>
    
