<h1>Formulario de Curso</h1>

<form [formGroup]='cursoForm'>

<div class="datosDelCurso">
    
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">          
    </mat-form-field>
    
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Profesor</mat-label>
            <input matInput type="text" formControlName="profesor">          
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Anio</mat-label>
            <input matInput type="int" formControlName="anio">
    </mat-form-field>
    <br>

    <br>
    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
            <input matInput type="text" formControlName="estado">          
    </mat-form-field>
    <br>

  
</div> 
    <button mat-raised-button (click)="cargarCurso()">Guardar</button>
    
    

    <div 
    *ngFor = "let curso of cursos">
            <p>Nombre del curso: {{curso.nombre}} </p>
            <p>Profesor: {{curso.profesor}}</p>
            <p>Año: {{curso.anio}}</p>
            <p>Estado: {{curso.estado}}</p>
            <button mat-raised-button color="primary" (click)="editarCurso(curso)">Editar</button>
            <button mat-raised-button color="primary" (click)="borrarCurso(curso)">Eliminar</button>
    </div>
    




</form>


